body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    height: 100%;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 200px;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar li {
    margin: 0;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid #444;
}

.sidebar a:hover {
    background-color: #575757;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.tabs {
    /* background-color: #f4f4f4; */
    background-color: #333;
    border-bottom: 1px solid #ddd;
    display: flex;
    padding: 10px;
}

.tabs a {
    margin-right: 10px;
    text-decoration: none;
    color: #fbfcfd;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.tabs a:hover {
    background-color: #575757;
}

iframe {
    flex-grow: 1;
    width: 100%;
    height: 500vh;
    border: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1px 1px;
    text-align: center;
}

.topbar {
    margin: 20px 0;
    text-align: center;
}

.topbar a {
    margin: 0 15px;
    text-decoration: none;
    color: #0078D7;
    font-weight: bold;
}

.topbar a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}