/* @font-face {
    font-family: 'pressstart';
    src: url('MedodicaRegular.otf') format('opentype');
}

@font-face {
    font-family: 'vt323';
    src: url('Bitmgothic.ttf') format('truetype');
} */


body {
    display: flex;
    flex-direction: column;
    font-family: "pressstart", sans-serif;
    font-size: 30px;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-image: url("background.png");
    image-rendering: pixelated;
    background-size: 100px 100px;
    background-attachment: fixed;
    cursor: url("Cursor.png"), auto;
}
a:hover {
    cursor: url("images/click.png"), auto;
}
header {
    font-family: "vt323", sans-serif;
    background: #000000;
    color: #ffbf00;
    padding: 0rem;
    text-align: center;
    border-bottom: 1px solid #ffffff;
    order: 1;
    margin: 0px;
    z-index: 1000;
    height: 9rem;
}
#content {
    order: 3;
}
footer {
    text-align: center;
    padding: 0rem;
    background: #000000;
    color: #fff;
    margin-top: 2rem;
    border-top: 1px solid #ffffff;
    order: 100;
}
.projects {
    margin: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    background-color: rgba(0, 0, 0, 0.6);
    width: 90%;
}
.projects nav {
    display: flex;
    flex-direction: row;
    margin: 3rem;
}
.projects nav img {
    flex-shrink: 0;
    width: 40rem;
    height: auto;
    margin-right: 5rem;
}
.projects nav p {
    position: relative;
    transform: translate(0rem, -2rem);
    opacity: 1;
    text-decoration: none;
    color: #ffffff;

}

.projects a {
    text-decoration: none;
    color: #ffffff;
}
.projects a:hover {
    text-decoration: underline;
    color: #ffbf00;
}
.projects a:active {
    text-decoration: underline;
    color: #ae00ff;
}






.homepage {
    position: relative;
    order: 3;
    margin: 2rem;
    border: 0px;
    align-self: center;
    width: 70rem;
    height: 40rem;
}
.unpixelated {
    image-rendering: auto;
}



.about-me {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    width: 90%;
}
.about-me p {
    margin: 2rem;
}
.small-title {
    font-size: 3rem;
    margin: 0rem;
}




.fade-in {
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
}
.fade-in.visible {
    opacity: 1;
}
.fade-in.invisible {
    opacity: 0;
    transition: opacity 0s ease-in-out;

}

.fade-in-menu {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.fade-in-menu.visible {
    opacity: 1;
}
.fade-in-menu.invisible {
    opacity: 0;
    transition: opacity 0s ease-in-out;
}
.fade-in-title {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.fade-in-title.visible {
    opacity: 1;
}
.fade-in-title.invisible {
    opacity: 0;
    transition: opacity 0s ease-in-out;
}
