/* General body styling */
@font-face {
    font-family: 'PixelFont';
    src: url('./fonts/MedodicaRegular.otf') format('opentype');
}


body {
    font-family: 'PixelFont', sans-serif;
    margin: 0;
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background: url('miskImages/Background.png') repeat; /* Combined shorthand for background properties */
    background-size: 70px 70px; /* Set the size of repeated tiles */
    image-rendering: pixelated; /* Ensures sharp edges for pixel art or small images */
}

/* Slideshow container */
.slideshow-container {
    position: relative; /* Establishes positioning context for child elements */
    width: 70%; /* Flexible width for responsiveness */
    text-align: center;
    margin: 0 auto; /* Ensures container is horizontally centered */
}

/* Slideshow image */
#slideshowImage {
    width: 100%; /* Fully scales to fit the container */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Ensures the image fits within the container */
}

/* Frame image */
#frameImage {
    position: absolute; /* Absolute positioning relative to the slideshow container */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjusts to center the element */
    pointer-events: none; /* Allows interactions with underlying elements */
    width: 103%; /* Adjust width relative to the container */
    height: auto; /* Maintain aspect ratio */
    z-index: 1000; /* Ensure this element stays in front */
}

/* Text overlay */
#text {
    display: block;
    position: absolute; /* Absolute positioning relative to the slideshow container */
    top: 80%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -10%); /* Adjusts to center the element */
    color: #fff; /* Text color */
    font-size: 30px; /* Adjust font size */
    font-weight: bold; /* Bold text */
    z-index: 100;
    background-color: black;
    opacity: 0;
}
